/* Forgot Password Container */
.forgot-password-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

h2 {
    color: #0e0f0e;
}

.input-group {
    margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.reset-password-submit {
    background-color: #090a09;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.reset-password-submit:hover {
    background-color: #0e0f0e;
}

.password-message {
    font-size: 14px;
    margin-top: 10px;
}
